<nav>
    <div class="logo">
        <img src="https://app.brandmark.io/nounpreview/5173648.png" alt="Smart Lend Logo" width="50px" height="50px">
        <a href="">SmartLend</a>
    </div>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/aboutus">About Us</a></li>
        <li><a routerLink="/loantypes">Loan Types</a></li>
        <li><a routerLink="/contactus">Contact Us</a></li>
        <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Sign Up</a></li>

    </ul>

</nav>
<div class="footer">
    <p>Copyright &copy; 2024 Smart lend.</p>
</div>
