<div class="main">
  <div class="header">
      <nav>
          <div class="logo">
            <img src="https://app.brandmark.io/nounpreview/5173648.png" alt="Smart Lend Logo" width="50px" height="50px">
              <a href="">SmartLend</a>
          </div>
          <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/aboutus">About Us</a></li>
              <li><a routerLink="/loantypes">Loan Types</a></li>
              <li><a routerLink="/contactus">Contact Us</a></li>
              <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Sign Up</a></li>

          </ul>

      </nav>
      <div class="overlay">
          <div class="contents">
              <h1><b>UNLOCK YOUR <span style="color: rgb(238, 112, 112);">FINANCIAL</span> POTENTIAL</b></h1><BR>
              <h3><b><i>Welcome to our </i><span style="color:rgb(238, 112, 112)">SMART LEND</span><i>ing Management system</i></b></h3><br>
            <a routerLink="/login" style="color:white"><i>Login</i></a>

          </div>
      </div>
  </div>
  <div class="footer">
    <p>Copyright &copy; 2024 Smart lend.</p>
</div>
</div>



