body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCzj29Ir56qXm8cwV9j1RSIbqVVtJx6aljdA&usqp=CAU%27');
    background-size: contain;
    background-position: center;
    height: 100vh;
    align-items: center;
}
image{
    align-self: center;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #061f39;
    size: 1200px;
    align-items: center;
    text-justify: auto;
    font-style: italic;

}
.centered-image {
    display: block;
    margin: 0 auto; 
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 20%;
    padding: 10px;
    background-color: #141515;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1e0e05;
}
a{
    color: rgb(15, 174, 97);
    font-size: large;
}